# compiled output
/dist
/node_modules
/build

/src/migrations/*.ts
schema-from-db.json
# !/src/entities/table_definition.entity.ts
# !/src/entities/column_definition.entity.ts
# !/src/entities/relation_definition.entity.ts
# !/src/entities/hook_definition.entity.ts
# !/src/entities/route_definition.entity.ts
# !/src/entities/role_definition.entity.ts
# !/src/entities/user_definition.entity.ts
# !/src/entities/setting_definition.entity.ts
# !/src/entities/middleware_definition.entity.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# AI Memory Files
AI_MEMORY_BE.md
AI_MEMORY_BE_old.md

# Uploaded files
/public
